node_modules/
scp/android/key.properties
scp/key.jks
scp/android/app/google-services.json
scp/android/app/src/google-services.json
key.jks
scp/.flutter-plugins-dependencies
scp/ios/Flutter/flutter_export_environment.sh
.idea/
.github/
